.timetable__header {
    padding: 0 em(30px);
    position: relative;
}
.timetable__header h3 {
    font-weight: 700;
}
.timetable__header:before {
    content: '';
    display: block;
    height: em(57px);
    width: 3px;
    background-color: #ec1469;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.timetable__schedule-list .btn {
    height: em(30px, 12px);
    font-size: em(12px);
    padding: em(7px, 12px) em(15px, 12px);
    font-weight: 300;
}
.timetable__schedule-list .btn-icon {
    padding-left: em(9px, 12px);
    padding-right: em(9px, 12px);
}
.timetable__btn-group .btn {
    padding-left: em(5px, 12px);
    padding-right: em(5px, 12px);
}
.timetable__content {
    border: 1px solid #e8e8e8;
    padding-top: em(15px);
    padding-right: em(15px);
    border-radius: 5px;
    min-height: em(718px);
}
.timetable__content-schedule {
    margin-top: em(20px);
    margin-left: em(30px);
}
.timetable__content-schedule__header {
    padding-bottom: em(15px);
    padding-left: em(50px);
    font-weight: 700;
    border-bottom: 2px solid #e7e7e7;
}
.timetable__content-row {
    position: relative;
}
.timetable__content-day {
    height: 50px;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}
.timetable__content-task {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1px;
    padding: 5px;
    z-index: 1;
    color: #ec1469;
    border: 1px solid #ec1469;
    border-radius: 4px;
    background-color: #fff;
}
.timetable__content-number {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.timetable__time {
    font-size: em(12px);
}
.timetable__time span {
    margin-right: em(7px);
}
.timetable__circle {
    display: inline-block;
    width: em(20px);
    height: em(20px);
    background-color: #ec1469;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}
.timetable__actions {
    font-size: em(8px);
    color: #444;
}
.timetable__actions .btn {
    font-weight: 300;
    padding: 0;
    margin: 0 em(10px, 8px);
}
.timetable__actions .btn svg {
    margin-bottom: 5px;
}
.modal--border .modal-content {
    background-image: url('/themes/ewhaian/img/bg-modal.jpg');
    background-size: cover;
}
.modal--border .modal-content .modal-body {
    margin: em(10px);
    padding: em(20px) em(30px);
    background-color: #fff;
}
.modal--border .modal-content .modal__header-description {
    text-align: center;
    color: #999;
    font-size: em(16px);
}
.form-group--select .form-control__label {
    padding: 0;
    margin: 0;
    font-size: em(10px);
    color: #999;
}
.form-group--select .form-control--select {
    padding-top: 0;
    height: em(25px);
    color: #444;
}

@media only screen and (max-width:  991px) {
    .btn-template {
        margin: auto;
        max-width: 400px;
    }
}
.btn-template .btn_line {
    display: flex;
    margin-bottom: 10px;
}
.btn-template .btn_line .btn__ehw:not(:last-child) {
    margin-right: 10px;
}
.btn-template .btn__ehw {
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.btn-template .btn__ehw.white-border {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(221, 35, 101, 1);
    border: 2px solid rgba(221, 35, 101, 1);
}
.btn-template .btn__ehw.white-border:hover {
    background-color: #ec1469;
    color: #fff;
}
.btn-template .btn__ehw.pink {
    background-color: #ec1469;
    color: #fff;
}
.btn-template .btn__ehw.pink:hover {
    opacity: 0.7;
    color: #fff;
}
.btn-template .btn__ehw.grey {
    background-color: #c8c8c8;
    color: #333;
}
.btn-template .btn__ehw.grey:hover {
    background-color: #cd9d9d;
}
@media only screen and (min-width: 991px) {
    .btn-template .btn__trash {
        background-position-x: 33%;
    }
}
.btn-template .btn__trash {
    margin-bottom: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    background: transparent url('/themes/ewhaian/img/icon-trash.svg') no-repeat 25%/20px auto;
    transition: 0.4s ease;
   
}
.btn-template .btn__trash:hover {
    background-color: #dbdbdb;
}
@media only screen and (min-width: 768px) {
    #frame-search__footer {
        padding-top: 0;
    }
}
@media only screen and (min-width:768px) {
    #frame-search__footer  .table_panel .table-responsive {
        display: table;
    }
    #frame-search__footer .search_panel .form_style .form-line:not(:last-child) {
        margin-right: 26px;
        margin-bottom: 0;
    }
}

#frame-search__footer .search_panel {
    max-width: 1050px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    #frame-search__footer .search_panel form {
        width: 100%;
    }
    #frame-search__footer .search_panel .form_style {
        padding: 0 50px;
    }
    #frame-search__footer .search_panel .form_style.flex {
        display: block;
    }
 
    frame-search__footer .search_panel .form_style .form-line .btn__ehw {
        width: 100%;
    }
}

#frame-search__footer .search_panel .form_style.flex {
    display: flex;
}
#frame-search__footer .search_panel .form_style .form-line {
    position: relative;
}
#frame-search__footer .search_panel .form_style .form-line.has-checkbox {
    display: flex;
    align-items: center;
}
#frame-search__footer .search_panel .form_style .form-line.has-checkbox label {
    margin-bottom: 0;
    margin-left: 5px;
}
#frame-search__footer .search_panel .form_style .form-line:not(:last-child) {
    margin-bottom: 15px;
   
}
#frame-search__footer .search_panel .form_style .form-line .btn__ehw {
    height: calc(1.6em + .75rem);
    width: 70px;
    border-radius: 0;
}
@media only screen and (min-width:991px ) {
    #frame-search__footer .search_panel .form_style .form-line input[type="text"] {
        width: 450px;
       
    }
}

#frame-search__footer .search_panel .form_style .form-line .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#frame-search__footer .search_panel .form_style .form-line .form-control.bg-pink {
    background-color: #e6e6e6;
}
#frame-search__footer .table_panel .table-hover tbody tr:hover {
    background: rgba(190, 190, 190, 0.9019607843137255);
}
#frame-search__footer .table_panel table {
    border: 2px solid rgba(180, 180, 180, 1);
}
#frame-search__footer .table_panel table a:hover {
    text-decoration: underline;
}
#frame-search__footer .table_panel table thead {
    background: #dd2365;
    color: #fff;
}
@media only screen and (max-width: 576px) {
    #frame-search__footer .table_panel table tbody .story_btn {
        width: 15px;
        height: 15px;
    }
}
#frame-search__footer .table_panel table tbody .story_btn {
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer; 
}
#frame-search__footer .table_panel table tbody td {
    max-width: 300px;
    border-left: 2px solid rgba(180, 180, 180, 1);
}
@media only screen and  (max-width: 576px) {
    #frame-search__footer .table_panel table td {
        font-size: 10px;
       
    }
}
#frame-search__footer .table_panel table td {
    text-align: center;
}
@media only screen and (max-width: 991px) {
    #frame-search__footer .description-dropdown {
        width: 500px;
        left: -220px;
    }
}
@media only screen and (max-width: 768px) {
    #frame-search__footer .description-dropdown {
        width: 100%;
        left: 0;
    }
    #frame-search__footer .search_panel .form_style.flex {
        display: block;
    }
}
#frame-search__footer .description-dropdown {
    position: absolute;
    z-index: 99;
    top: 35px;
    left: -200px;
    padding: 6px;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    border: none;
    width: 700px;
    transition: 0.4s ease;
    border: 1px solid rgba(180, 180, 180, 1);
    background: #fff;
    font-size: 12px;
}
#frame-search__footer .description-dropdown .dropdown_title {
    border-bottom: 1px solid rgba(180, 180, 180, 1);
    padding: 8px;
    text-align: center;
}
#frame-search__footer .description-dropdown .dropdown_title p {
    margin-bottom: 0;
}
#frame-search__footer .description-dropdown .dropdown_panel {
    padding: 8px;
}
#frame-search__footer .description-dropdown .dropdown_panel .dropdown__line {
    padding: 5px 0;
    display: flex;
}
#frame-search__footer .description-dropdown .dropdown_panel .dropdown__line .left {
    width: 25%;
    font-weight: bold;
}
#frame-search__footer .description-dropdown .dropdown_panel .dropdown__line .right {
    width: 100%;
}
.pretty-split-pane-frame .split-pane {
    min-height: 100vh !important;
}
.pretty-split-pane-frame .split-pane-divider {
    background: #333;
}
.pretty-split-pane-frame #top-component {
    bottom: 30%;
    margin-bottom: 5px;
    min-height: 5em;
}
.pretty-split-pane-frame #my-divider {
    bottom: 30%;
    height: 5px;
}
.pretty-split-pane-frame #bottom-component {
    height: 30%;
    min-height: 10em;
}

.day-hl:not(.day-hl-plus) {
    border-bottom: 1px solid #333;
  }
.day-hl:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 1px;
    background-color: #333333;
}
.day-hl-plus:before {
    bottom: 50%;
}
.day-hl-minus:before {
    top: 50%;
}